<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.ted.mpd_trigger</string>
	<key>ProgramArguments</key>
	<array>
        <string>/Users/ymf/Downloads/mpd_trigger/mpd_trigger</string>
        <string>-e</string>
        <string>/usr/local/bin/terminal-notifier -title $'{title}: {state} ({elapsed_pct}%)' -subtitle $'{artist}' -message $'{album} @ {track?{track}:unknown track}' -sender com.apple.iTunes</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
